<div id='run_entry'>
<%= form_for @new_run, :as => :run, :url => { :controller => 'log_book', :action => 'new_run' } do |f| %>
  <% if @new_run.errors.any? %>
    <div id="errorExplanation">
    <h2><%= pluralize(@new_run.errors.count, "error") %> prohibited this  from being saved:</h2>
    <ul>
    <% @new_run.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Log a Run</legend>
  <div id='run_date' class='field'>
    <%= f.date_select :date, options = { :date_separator => "/ ", :use_short_month => "true", :order => [:day, :month, :year] } %> 
  </div>
  <div class='field'>
    <%= f.number_field :miles, :min => 1, :max => 999, :size => 5, :autofocus => true %> miles
  </div>
  <div class='field'>
    <%= f.number_field :hours, :value => 0, :size => 3 %> : <%= f.number_field :minutes, :value => 0, :size => 3 %> : <%= f.number_field :seconds, :value => 0, :size => 3 %>
  </div>
  <div class='field'>
    <%= f.text_area :description, :rows => 5, :placeholder => 'Description' %>
  </div>
  <div class='actions'>
    <%= f.submit 'Add Run' %>
  </div>
</fieldset>
<% end %>
</div>
<% @runs.each do |r| %>
  <div id='run_<%= r.id %>'>
  	Date: <%= r.date %>
  	Miles: <%= r.miles %>
  	Rolling MPW: <%= r.mpw %>
  	Time: <%= r.run_time %>
  	Description: <%= r.description %>
    <%= link_to "Destroy", :controller => "log_book", :action => "destroy_run", :id => r %>
  </div>
<% end %>
