<%= form_for @run, :as => :run, :url => { :controller => 'log_book', :action => 'new_run' } do |f| %>
  <div class='field'>
    <%= f.label :run_date %>
    <%= f.date_select :run_date %> 
        
  </div>
  <div class='field'>
    <%= f.label :miles %>
    <%= f.text_field :miles %> miles
  </div>
  <div class='field'>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class='field'>
    <%= f.label :time %>
    <%= f.text_field :hours %>
    <%= f.text_field :minutes %>
    <%= f.text_field :seconds %>
  </div>
  <div class='actions'>
    <%= f.submit 'Add Run' %>
  </div>
<% end %>
<% @runs.each do |r| %>
	Date: <%= r.run_date %>
	Miles: <%= r.miles %>
	Time: <%= r.run_time %>
	Description: <%= r.description %>
<% end %>
