<div id='run_entry'>
<%= form_for @new_run, :as => :run, :url => { :controller => 'log_book', :action => 'new_run' } do |f| %>
  <% if @new_run.errors.any? %>
    <div id="errorExplanation">
    <h2><%= pluralize(@new_run.errors.count, "error") %> prohibited this  from being saved:</h2>
    <ul>
    <% @new_run.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  <% end %>
  <fieldset id='run_form'>
    <legend>Log a Run</legend>
  <div id='run_date' class='field'>
    <%= f.date_select :date, options = { :date_separator => "/ ", :use_short_month => "true", :order => [:day, :month, :year] } %> 
  </div>
  <div class='field'>
    <%= f.number_field :miles, :min => 1, :max => 999, :size => 5, :autofocus => true %> miles
  </div>
  <div class='field'>
    <%= f.number_field :hours, :value => 0, :size => 3 %> : <%= f.number_field :minutes, :value => 0, :size => 3 %> : <%= f.number_field :seconds, :value => 0, :size => 3 %>
  </div>
  <div class='field'>
    <%= f.text_area :description, :rows => 5, :placeholder => 'Description' %>
  </div>
  <div class='actions'>
    <%= f.submit 'Add Run' %>
  </div>
</fieldset>
<% end %>
</div>
<h1>The Log</h1>
<hr />
<% @runs.each do |r| %>
  <fieldset id='run_<%= r.id %>' class='logged_run'>
    <legend><%= r.date.strftime('%B %-d, %Y') %> - <%= r.mpw %> mpw</legend>
    <div class='run_miles'>Completed <%= r.miles %> miles in <%= r.run_time %></div>
    <div class='run_destroyer'><%= link_to "X", { :controller => "log_book", :action => "destroy_run", :id => r }, :confirm => 'Destroy this run?' %></div>
    <div class='run_desc'>The story: <span class='description_text'><%= r.description %></span></div>
    </fieldset>
<% end %>
