<!DOCTYPE html>
<html>
<head>
  <title>RunLog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "log_book", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>run_log</h1>
  <%= render "shared/notices_and_alerts" %>
  <div id='main_content'> 
    <%= yield %>
  </div>

</body>
</html>
